$edem-bar-height: 32px;
$addthis-bar-height: 32px;

body, html { 
  min-height: unset;
  height: unset;
}

html {
  min-height: 100%;
}

body::before { 
  display: none;
}

body .edem-content-wrapper {
  z-index: 0;
}

body .edem-content-wrapper::before {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  transition: opacity .3s ease;
  pointer-events: none;
  opacity: 0;
  background-color: #000;
}

body.-no-scroll .edem-content-wrapper::before {
  pointer-events: auto;
  opacity: .6;
}

body > .edem-content-wrapper > .nav-bar {
  margin-top: $edem-bar-height;
}

body > .edem-content-wrapper > .document-editor > .side-bar {
  box-sizing: border-box;
  border-top: $edem-bar-height solid transparent;

  @media (max-width: 1024px) {
    border-bottom: $addthis-bar-height solid transparent;
  }
}

body > .edem-content-wrapper > .document-editor > .tool-bar {
  box-sizing: border-box;
  border-top: $edem-bar-height solid transparent;

  @media (max-width: 1024px) {
    padding-bottom: $addthis-bar-height;
  }
}

body > .edem-content-wrapper > .howto-button {
  margin-top: $edem-bar-height;
}

body > .edem-content-wrapper > .suggestion-input {
  @media (max-width: 1024px) {
    margin-bottom: $edem-bar-height;
  }
}

body > .edem-content-wrapper > .app-modal {
  border-top: $edem-bar-height solid transparent;


  @media (max-width: 1024px) {
    border-bottom: $addthis-bar-height solid transparent;
  }
}

body > .edem-content-wrapper > .document-body > .info-button {
  @media (max-width: 1024px) {
    margin-bottom: $addthis-bar-height;
  }
}

// Make sure addthis bottom bar stays hidden on desktop whenever the window is resized from small to large
.at-share-dock-outer.addthis-smartlayers.addthis-smartlayers-mobile {
  @media (min-width: 1024px) {
    display: none;
  }
}


// Additional styles

.test-banner {
  display: none;
  position: fixed;
  z-index: 10;
  top: 2rem;
  padding: 1rem;
  width: 100%;
  max-width: calc(100% - 4rem);
  left: 50%;
  transform: translateX(-50%);
  margin: 1rem 0;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);

  @media (min-width: 960px) {
    width: 860px;
    max-width: calc(100% - 6rem);
    padding: 2rem;
    align-items: center;
  }
}

.test-banner.-active {
  display: flex;
}

.test-banner > img {
  display: none;
  margin-right: 2rem;

  @media (min-width: 960px) {
    display: block;
  }
}

.test-banner > button {
  background-image: url('../../img/close.svg');
  position: absolute;
  width: 1rem;
  height: 1rem;
  margin: 0.5rem;
  border: 0.75rem solid transparent;
  box-sizing: content-box;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 100% 100%;
  top: 0;
  right: 0;
  cursor: pointer;

  @media (min-width: 960px) {
    margin: 1.75rem;
  }
}

.test-banner > .content > h2 {
  color: #fff;
  padding-right: 2.75rem;
  font-size: 1rem;

  @media (min-width: 960px) {
    font-size: 1.35rem;
  }
}

.test-banner > .content > h2 > span {
  @media (min-width: 960px) {
    display: none;
  }
}

.test-banner > .content > p {
  margin-top: 1rem;
  color: #fff;
  font-size: 0.75rem;

  @media (min-width: 960px) {
    font-size: 1.25rem;
  }
}
