{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table id="Tabela_01" width="500" height="690" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td colspan="3"><a href="https://edemocracia.camara.leg.br/pautaparticipativa/" target="_blank"><img src="{{domain}}{% static 'img/mail-marketing/top.jpg' %}" width="500" height="234" alt="Veja a página do Pauta Participativa"></a></td>
      </tr>
      <tr>
        <td width="447" height="369" style="padding-left: 27px;padding-right: 27px;">

            <p style="font-size:16px;font-family:Arial, sans-serif; text-align:left; padding-left: 35; padding-right: 35;">
            O <strong><a href="https://edemocracia.camara.leg.br">e-Democracia</a></strong> passou a contar com um novo mecanismo de interação: a <strong><a href="https://edemocracia.camara.leg.br/pautaparticipativa/">Pauta Participativa</a></strong>!

            <p style="font-size:16px;font-family:Arial, sans-serif; text-align:left; padding-left: 35; padding-right: 35;">Iniciativa em parceria com a Presidência da Câmara, a Pauta Participativa tem por objetivo dar à sociedade a oportunidade de escolher os projetos a serem colocados em discussão no plenário da Câmara.

            <p style="font-size:16px;font-family:Arial, sans-serif; text-align:left; padding-left: 35; padding-right: 35;">Conheça, participe e mande-nos suas sugestões! Contamos com seu apoio para continuar promovendo a participação do cidadão no legislativo!

            <p style="font-size:16px;font-family:Arial, sans-serif; text-align:left; padding-left: 35; padding-right: 35;">Grande abraço,
            <p style="font-size:16px;font-family:Arial, sans-serif; text-align:left; padding-left: 35; padding-right: 35;">Equipe e-Democracia!      </td>
      </tr>
      <tr>
        <td colspan="3">
          <img src="{{domain}}{% static 'img/mail-marketing/bottom.jpg' %}" width="500" height="87" alt=""></td>
      </tr>
    </table>
  </body>
</html>