{% extends "components/diazo-base.html" %}
{% load staticfiles %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'pautas/scss/overrides-pautas.scss' %}" type="text/x-scss" />
{% endblock styles %}


{% block jquery_call %}
{% endblock jquery_call %}

{% block addthis_call %}
{% endblock addthis_call %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'pautas/js/overrides-pautas.js' %}"></script>
  {% include "components/olark.html" %}
{% endblock scripts %}