 <section class="section section--pauta">
    <div class="e-row e-expanded">

      <div class="section__info section__block e-columns small-12 large-3">
        <a href="/pautaparticipativa/"><img class="section__logo" src="/static/img/logo-pauta-participativa.svg" ></a>
        <p class="section__text">
          {{ config.PAUTAS_DESCRIPTION }}
        </p>
      </div>

      <div class="section__block e-columns small-12 large-9">
        <div class="section__content">

          <h1 class="section__title">
            <a class="section__link" href="/pautaparticipativa/" title="Veja todas as pautas">{{ config.PAUTAS_TITLE }}</a>
          </h1>

          <div class="container container--card-list">

            <a class="section__button" href="/pautaparticipativa/">
              Ver todos
            </a>

            <ul class="card-list">

            {% if pautas == 500 %}
              <li>
                <div class="section__content-wrapper section__content-wrapper--center text-center">
                  <p class="section__text">
                    Desculpe. Serviço temporariamente indisponível.
                  </p>
                </div>
              </li>
            {% else %}
              {% for pauta in pautas %}
                {% include "pautas-card.html" %}
              {% empty %}
                <li>
                  <div class="section__content-wrapper section__content-wrapper--center text-center">
                    <p class="section__text">
                      Desculpe. Não encontramos nenhum resultado.
                    </p>
                  </div>
                </li>
              {% endfor %}
            {% endif %}

            </ul>

          </div>
        </div>
      </div>

    </div>
  </section>