version: '2'

volumes:
  wikilegis:

services:
  nginx:
    image: nginx
    volumes:
      - ./config/etc/nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./:/var/labhacker/edemocracia:z
      - wikilegis:/var/labhacker/wikilegis:z
    ports:
      - "8000:80"
    links:
      - edemocracia

  db:
    image: postgres:9.6
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: root

  edemocracia:
    build: .
    tty: true
    stdin_open: true
    volumes:
      - ./:/var/labhacker/edemocracia:z
    command: ./runserver
    links:
      - db
    depends_on:
      - db
    environment:
      DEBUG:
      SECRET_KEY:
      RECAPTCHA_SITE_KEY:
      RECAPTCHA_PRIVATE_KEY:
      ALLOWED_HOSTS:
      DATABASE_ENGINE: postgresql_psycopg2
      DATABASE_NAME: edemocracia
      DATABASE_USER: root
      DATABASE_PASSWORD: root
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      SOCIAL_AUTH_GOOGLE_OAUTH2_KEY:
      SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET:
      SOCIAL_AUTH_FACEBOOK_KEY:
      SOCIAL_AUTH_FACEBOOK_SECRET:
      SOCIAL_AUTH_CD_KEY:
      SOCIAL_AUTH_CD_SECRET:
      SOCIAL_AUTH_CD_VERIFY_SSL:
      CD_AUTHORIZATION_URL:
      CD_ACCESS_TOKEN_URL:
      CD_METADATA_URL:
      SOCIAL_AUTH_REDIRECT_IS_HTTPS:
      LANGUAGE_CODE:
      TIME_ZONE:
      EMAIL_HOST:
      EMAIL_PORT:
      EMAIL_HOST_USER:
      EMAIL_HOST_PASSWORD:
      EMAIL_USE_TLS:
      DEFAULT_FROM_EMAIL:
      STATIC_URL:
      MEDIA_URL:
      WIKILEGIS_ENABLED: 'True'
      WIKILEGIS_UPSTREAM: http://wikilegis:8000
      WIKILEGIS_API_URL: '/api/v1/'
      WIKILEGIS_API_KEY: api_key

  wikilegis:
    image: labhackercd/wikilegis:dev
    command: ./start.sh
    links:
      - db
    depends_on:
      - db
    volumes:
      - wikilegis:/var/labhacker/wikilegis
    environment:
      API_KEY: api_key
      SECRET_KEY: secret_key
      FORCE_SCRIPT_NAME: /wikilegis
      DEBUG: 'True'
      ALLOWED_HOSTS: '*'
      LOGIN_URL: /
      LOGIN_REDIRECT_URL: /
      AUTH_USER_MODEL: accounts.User
      ENABLE_REMOTE_USER: 'True'
      SESSION_COOKIE_NAME: wikilegis_session
      DEFAULT_FROM_EMAIL: '"Portal e-Democracia[Wikilegis]" <edemocracia@camara.leg.br>'
      LANGUAGE_CODE: pt-br
      TIME_ZONE: America/Sao_Paulo
      STATIC_URL: /wikilegis/static/
      MEDIA_URL: /wikilegis/media/
      ADMIN_PASSWORD: 123
      ADMIN_EMAIL: email@admin.com
      DATABASE_ENGINE: postgresql_psycopg2
      DATABASE_NAME: wikilegis
      DATABASE_PASSWORD: root
      DATABASE_USER: root
      DATABASE_HOST: db
      DATABASE_PORT: 5432
    expose:
      - "8000"
