version: '2'

services:
  nginx:
    image: labhackercd/nginx-edemocracia:1.1.2
    depends_on:
      - edemocracia
      - audienciasweb
    volumes:
      - edemocracia:/var/labhacker/edemocracia/src/public/
      - wikilegis:/var/labhacker/wikilegis/wikilegis/public/
      - audiencias:/var/labhacker/audiencias/public/
      - discourse_assets:/var/www/discourse/public/assets/
      - discourse_js:/var/www/discourse/public/javascripts/
      - discourse_img:/var/www/discourse/public/images/
      - discourse_cache:/var/www/discourse/tmp/stylesheet-cache/
    ports:
      - "8080:80"
    links:
      - edemocracia
    environment:
      NAME_RESOLVER: '127.0.0.11'

  db:
    image: postgres:9.6
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: root
      PGDATA : /var/lib/postgresql/data/
    volumes:
     - pg_data:/var/lib/postgresql/data/

  redis:
    image: redis:alpine

  edemocracia:
    image: labhackercd/edemocracia:dev
    volumes:
      - edemocracia:/var/labhacker/edemocracia/src/public/:z
      - /var/labhacker/edemocracia/src/edemocracia/
    command: ./runserver-production
    expose:
      - "8000"
    links:
      - db
    depends_on:
      - db
    environment:
      ADMIN_EMAIL: admin@admin.com
      ADMIN_PASSWORD: 123
      ADMIN_USERNAME: admin
      SITE_NAME: 
      SITE_LOGO: https://enderecodaimagem.com
      SITE_URL: https://enderecodoedemocracia.leg.br
      DEBUG: 
      SECRET_KEY: 
      RECAPTCHA_SITE_KEY:  
      RECAPTCHA_PRIVATE_KEY:  
      ALLOWED_HOSTS:
      DATABASE_ENGINE: postgresql_psycopg2
      DATABASE_NAME: edemocracia
      DATABASE_USER: root
      DATABASE_PASSWORD: root
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      SOCIAL_AUTH_GOOGLE_OAUTH2_KEY: 
      SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET: 
      SOCIAL_AUTH_FACEBOOK_KEY: 
      SOCIAL_AUTH_FACEBOOK_SECRET: 
      SOCIAL_AUTH_FACEBOOK_SCOPE:
      SOCIAL_AUTH_FACEBOOK_API_VERSION:
      SOCIAL_AUTH_CD_KEY: 
      SOCIAL_AUTH_CD_SECRET: 
      SOCIAL_AUTH_CD_VERIFY_SSL: 
      CD_AUTHORIZATION_URL: 
      CD_ACCESS_TOKEN_URL: 
      CD_METADATA_URL: 
      CAMARA_LOGIN:
      SOCIAL_AUTH_REDIRECT_IS_HTTPS: 
      LANGUAGE_CODE: pt-br
      TIME_ZONE:
      EMAIL_HOST: 
      EMAIL_PORT: 
      EMAIL_HOST_USER: 
      EMAIL_HOST_PASSWORD:
      EMAIL_USE_TLS: 'False'
      EMAIL_BACKEND: django.core.mail.backends.smtp.EmailBackend
      DEFAULT_FROM_EMAIL: '"Portal e-Democracia" <edemocracia@camara.leg.br>'
      STATIC_URL:
      MEDIA_URL:
      WIKILEGIS_ENABLED: 'True'
      WIKILEGIS_UPSTREAM: http://wikilegis:8000
      WIKILEGIS_API_URL: '/api/v1/'
      WIKILEGIS_API_KEY:
      AUDIENCIAS_ENABLED: 'False'
      AUDIENCIAS_UPSTREAM: http://audienciasweb:8000/audiencias
      AUDIENCIAS_API_URL:
      AUDIENCIAS_API_KEY: api_key
      DISCOURSE_ENABLED: 'False'
      DISCOURSE_UPSTREAM: http://discourse:8080/expressao
      DISCOURSE_SSO_SECRET: 

  wikilegis:
    image: labhackercd/wikilegis:2.3.2
    command: ./start.sh
    links:
      - db
    depends_on:
      - db
    volumes:
      - wikilegis:/var/labhacker/wikilegis/wikilegis/public/:z
    environment:
      ADMIN_EMAIL: admin@admin.com
      ADMIN_PASSWORD: 123
      ADMIN_USERNAME: admin
      API_KEY: api_key
      SECRET_KEY: secret_key
      FORCE_SCRIPT_NAME: /wikilegis
      LANGUAGE_CODE: pt-br
      DEBUG: 'False'
      ALLOWED_HOSTS: '*'
      LOGIN_URL: /
      LOGIN_REDIRECT_URL: /
      AUTH_USER_MODEL: accounts.User
      ENABLE_REMOTE_USER: 'True'
      SESSION_COOKIE_NAME: wikilegis_session
      EMAIL_HOST: 
      EMAIL_PORT: 25
      EMAIL_HOST_USER: 
      EMAIL_HOST_PASSWORD:
      EMAIL_USE_TLS: 'False'
      DEFAULT_FROM_EMAIL: '"Portal e-Democracia[Wikilegis]" <edemocracia@camara.leg.br>'
      TIME_ZONE: America/Sao_Paulo
      STATIC_URL: /wikilegis/static/
      MEDIA_URL: /wikilegis/media/
      DATABASE_ENGINE: postgresql_psycopg2
      DATABASE_NAME: wikilegis
      DATABASE_PASSWORD: root
      DATABASE_USER: root
      DATABASE_HOST: db
      DATABASE_PORT: 5432
    expose:
      - "8000"

  audienciasweb:
    image: labhackercd/audiencias-publicas:3.4.4
    command: ./start-web.sh
    restart: on-failure
    links:
      - db
      - redis
    volumes:
      - audiencias:/var/labhacker/audiencias/public/:z
    environment:
      ADMIN_EMAIL: admin@admin.com
      ADMIN_PASSWORD: 123
      ADMIN_USERNAME: admin
      EMAIL_HOST:
      EMAIL_HOST_USER:
      EMAIL_HOST_PASSWORD: ''
      EMAIL_PORT: 25
      EMAIL_USE_TLS: 'False'
      DEFAULT_FROM_EMAIL: '"Portal e-Democracia[audiencias]" <edemocracia@camara.leg.br>'
      NOTIFICATION_EMAIL_LIST: ''
      DJANGO_SECRET_KEY:
      DEBUG: 'False'
      ENABLE_REMOTE_USER: 'True'
      URL_PREFIX: audiencias
      FORCE_SCRIPT_NAME: /audiencias
      STATIC_URL: /audiencias/static/
      SESSION_COOKIE_NAME: audiencias_session
      LOGIN_URL: /
      LOGIN_REDIRECT_URL: /
      LOGOUT_REDIRECT_URL: /
      ALLOWED_HOSTS:
      GOOGLE_ANALYTICS_ID: ''
      OLARK_ID: ''
      DATABASE_ENGINE: postgresql_psycopg2
      DATABASE_NAME: audiencias
      DATABASE_PASSWORD: root
      DATABASE_USER: root
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      REDIS_SERVER: redis
      WEBSERVICE_URL:
      COMPRESS_OFFLINE: 'True'
      WORDS_BLACK_LIST: 'merda,cu,cuzao,cuzona,cusao,cusona,bunda,fodido,fodida,foda,foder,fodedor,fudido,fudida,fuder,chupa,chupada,chupador,chupadora,boquete,boqueteira,boquetera,boketeira,boketera,xupa,xupada,xupador,xupadora,pauduro,pauzudo,xoxota,chochota,buceta,boceta,busseta,bosseta,cacete,cassete,caceta,kacete,kassete,caralho,karalho,caraleo,pinto,pica,rola,roludo,gozado,gozada,goso,gosa,gosado,gosado,puta,puto,putinho,putinha,putona,putana,putaria,grelo,grelinho,filhodaputa,filhosdaputa,puta,fdps,siririca,punheta,trepar,trepada,trepadeira,caralho,caralhu,karalho,karalhu,tomarnocu,tomanocu,vadia,bosta,quenga,rabo,bolsa,cuzinho,piroca,pqp,puta que pariu,porra,carai,cú,viado,fdp,vtnc,corno,bicha,bixa,viado,viadinho,pederasta,filho da puta,bundao,bundão,filho de uma egua,filho de uma égua,achacador,achacadora,achacadores,achacar,babaca,bucetas,cagar,cagaram,cambada,caráleo,corja,cornão,covarde,covardes,cretino,cus,cús,cusão,cuzão,cuzinho,cuzona,danar,desgraça,drosoba,enrabar,escória,escroto,escrotas,escrotos,fodão,fodona,fudendo,fuder,idiota,imundo,imundos,ku,kú,lascar,merdas,patifaria,pilantra,pilantragem,pilantras,poha,porcaria,putas,putos,sacanagem,safadeza,safado,safados,salafrário,salafrários,vagabundagem,vagabundo,vagabundos,veadinho,veadinhos'
    expose:
      - "8000"
    depends_on:
      - db
      - redis

  audienciasworker:
    image: labhackercd/audiencias-publicas:3.4.4
    command: ./start-worker.sh
    links:
      - redis
      - db
    environment:
      ADMIN_EMAIL: admin@admin.com
      ADMIN_PASSWORD: 123
      ADMIN_USERNAME: admin
      EMAIL_HOST:
      EMAIL_HOST_USER:
      EMAIL_HOST_PASSWORD: ''
      EMAIL_PORT: 25
      EMAIL_USE_TLS: 'False'
      DEFAULT_FROM_EMAIL: '"Portal e-Democracia[audiencias]" <edemocracia@camara.leg.br>'
      NOTIFICATION_EMAIL_LIST: ''
      DJANGO_SECRET_KEY:
      DEBUG: 'False'
      ENABLE_REMOTE_USER: 'True'
      URL_PREFIX: audiencias
      FORCE_SCRIPT_NAME: /audiencias
      STATIC_URL: /audiencias/static/
      SESSION_COOKIE_NAME: audiencias_session
      LOGIN_URL: /home
      LOGIN_REDIRECT_URL: /home
      LOGOUT_REDIRECT_URL: /home
      ALLOWED_HOSTS:
      YOUTUBE_API_KEY: ''
      YOUTUBE_CHANNEL_ID: ''
      YOUTUBE_SEARCH_QUERY: ''
      GOOGLE_ANALYTICS_ID: ''
      OLARK_ID: ''
      DATABASE_ENGINE: postgresql_psycopg2
      DATABASE_NAME: audiencias
      DATABASE_PASSWORD: root
      DATABASE_USER: root
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      REDIS_SERVER: redis
      WEBSERVICE_URL:
      COMPRESS_OFFLINE: 'True'
      WORDS_BLACK_LIST: 'merda,cu,cuzao,cuzona,cusao,cusona,bunda,fodido,fodida,foda,foder,fodedor,fudido,fudida,fuder,chupa,chupada,chupador,chupadora,boquete,boqueteira,boquetera,boketeira,boketera,xupa,xupada,xupador,xupadora,pauduro,pauzudo,xoxota,chochota,buceta,boceta,busseta,bosseta,cacete,cassete,caceta,kacete,kassete,caralho,karalho,caraleo,pinto,pica,rola,roludo,gozado,gozada,goso,gosa,gosado,gosado,puta,puto,putinho,putinha,putona,putana,putaria,grelo,grelinho,filhodaputa,filhosdaputa,puta,fdps,siririca,punheta,trepar,trepada,trepadeira,caralho,caralhu,karalho,karalhu,tomarnocu,tomanocu,vadia,bosta,quenga,rabo,bolsa,cuzinho,piroca,pqp,puta que pariu,porra,carai,cú,viado,fdp,vtnc,corno,bicha,bixa,viado,viadinho,pederasta,filho da puta,bundao,bundão,filho de uma egua,filho de uma égua,achacador,achacadora,achacadores,achacar,babaca,bucetas,cagar,cagaram,cambada,caráleo,corja,cornão,covarde,covardes,cretino,cus,cús,cusão,cuzão,cuzinho,cuzona,danar,desgraça,drosoba,enrabar,escória,escroto,escrotas,escrotos,fodão,fodona,fudendo,fuder,idiota,imundo,imundos,ku,kú,lascar,merdas,patifaria,pilantra,pilantragem,pilantras,poha,porcaria,putas,putos,sacanagem,safadeza,safado,safados,salafrário,salafrários,vagabundagem,vagabundo,vagabundos,veadinho,veadinhos'
    volumes:
      - audiencias:/var/labhacker/audiencias/public/:z
    depends_on:
      - 'audienciasweb'

  discourse:
    image: labhackercd/discourse-docker:2.0.20180703
    command: ./start-web.sh
    volumes:
     - discourse:/var/www/discourse:z
     - ./:/tmp/data:z
    expose:
      - "8080"
    depends_on:
      - db
      - redis
    environment:
      ADMIN_EMAIL: admin@admin.com
      ADMIN_PASSWORD: 123
      ADMIN_USERNAME: admin
      RAILS_ENV: 'production'
      DISCOURSE_DB_HOST: db
      DISCOURSE_DB_PORT: '5432'
      DISCOURSE_DB_NAME: 'discourse'
      DISCOURSE_DB_USERNAME: 'root'
      DISCOURSE_DB_PASSWORD: 'root'
      DISCOURSE_HOSTNAME: 
      DISCOURSE_SMTP_ADDRESS:
      DISCOURSE_SMTP_PORT: 587
      DISCOURSE_SMTP_USER_NAME:
      DISCOURSE_SMTP_PASSWORD:
      DISCOURSE_DEVELOPER_EMAILS:
      DISCOURSE_REDIS_HOST: 'redis'
      DISCOURSE_REDIS_PORT: 6379
      DISCOURSE_RELATIVE_URL_ROOT: '/expressao'
      DISCOURSE_CONTACT_EMAIL:
      DISCOURSE_CONTACT_URL:
      DISCOURSE_NOTIFICATION_EMAIL: 'noreply@dicourse.org'
      DISCOURSE_SSO_URL: 'http:\/\/dev.edemocracia.labhackercd.leg.br:8000'
      DISCOURSE_SSO_SECRET:
      DISCOURSE_FORCE_HOSTNAME: 'dev.edemocracia.labhackercd.leg.br/expressao'

volumes:
  pg_data:
    driver: local
  edemocracia:
    driver: local
  audiencias:
    driver: local
  wikilegis:
    driver: local
  discourse_assets:
    driver: local
  discourse_js:
    driver: local
  discourse_img:
    driver: local
  discourse_cache:
    driver: local