[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipdb = "*"

[packages]
Django = "==2.2.10"
python-decouple = "==3.3"
django-compressor = "==2.4"
django-compressor-toolkit = "==0.6.0"
django-npm = "==1.0.0"
django-constance = "==2.6.0"
django-picklefield = "==3.0.1"
requests = "==2.24.0"
django-registration-redux = "==2.8"
pillow = "==7.1.2"
social-auth-app-django = "==3.4.0"
djangorestframework = "==3.11.0"
django-filter = "==2.3.0"
django-revproxy = "==0.10.0"
diazo = "==1.4.0"
lxml = "==4.5.1"
"python3-openid" = "==3.1.0"
django-macros = "==0.4.0"
django-widget-tweaks = "==1.4.8"
pydiscourse = "==1.0.0"
mkdocs = "==1.0.4"
mkdocs-material = "==4.1.1"
cryptography = "==2.9.2"
django-cors-headers = "*"
pytest-django = "==4.1.0"
pytest-cov = "==2.11.1"
mixer = "==6.3.0"
celery = {extras = ["redis"]}
django_celery_results = "*"
django_celery_beat = "*"

[requires]
python_version = "3.6"
