[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

ipdb = "*"


[packages]

django = "*"
python-decouple = "*"
django-compressor = "*"
django-compressor-toolkit = "*"
django-npm = "*"
django-constance = "*"
django-picklefield = "*"
django-revproxy = {extras = ["diazo"]}
requests = "*"
django-registration-redux = "*"
pillow = "*"
social-auth-app-django = "*"
djangorestframework = "*"
django-filter = "*"


[requires]

python_version = "3.6"
