[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

ipdb = "*"


[packages]

django = "*"
python-decouple = "*"
django-compressor = "*"
django-compressor-toolkit = "*"
django-npm = "*"
django-constance = "*"
django-picklefield = "*"
requests = "*"
django-registration-redux = "*"
pillow = "*"
social-auth-app-django = "*"
djangorestframework = "*"
django-filter = "*"
django-revproxy = {git = "https://github.com/msfernandes/django-revproxy"}
diazo = "*"
lxml = "< 3.4.99"
python3-openid = "*"


[requires]

python_version = "3.6"
