.dataTables_wrapper {
  & .dataTables_filter input {
    margin-left: 0 !important;
  }
}

.dt-buttons {
  display: flex;
  margin-top: 1.5rem;

  & > * + * {
    margin-left: .5rem;
  }

  & .dt-button {
    cursor: pointer;
    background-image: none !important;
    background-color: rgba(#000, .1) !important;
    color: #333 !important;
    border-color: transparent !important;
    outline: transparent !important;
    box-shadow: none !important;

    &:hover {
      background-color: rgba(#000, .2) !important;
      color: #333 !important;
      border-color: transparent !important;
      outline: transparent !important;
      box-shadow: none !important;
    }
  }
}

#data-tables_wrapper {
  display: flex;
  flex-wrap: wrap;

  #data-tables {
    width: 100%;

    & .sorting {
      &::after {
        display: block;
        content: '';

      }
    }

    & > thead {
      position: sticky !important;
      top: 4rem !important;
    }
  }
}

.dataTables_length {
  flex-basis: 10%;
}

.dataTables_filter {
  flex-basis: 30%;
  margin-left: auto;
}

.dataTables_info {
  padding: 2rem 0 !important;
}

.buttons-page-length {
  display: none;
}

.page-statistics .dataTables_paginate {
  display: flex;
  margin: 0 auto;
  margin-top: 0.8rem;
  align-items: center;

  & a {
    font-size: .875rem;
    color: $color-edem-green-xxxxdark;
    padding: .5rem;
    font-weight: bold;

    &:hover {
      color: $color-edem-green;
    }
  }

  & > span {
    padding: .5rem;
  }

  & > span > a {
    padding: .5rem 1rem;
    margin: 0 .5rem;
    background: #f1f1f1;
    border: none;

    &:hover {
      color: #000 !important;
      background: darken(#f1f1f1, 10%);
    }
  }

  & > .disabled {
    color: #a7a7a7 !important;
  }

  & > .paginate_button:not(.disabled) {
    &:hover,
    &:active {
      background: transparent !important;
      background-color: transparent !important;
      color: $color-edem-green !important;
      border-color: transparent !important;
      outline: transparent !important;
      box-shadow: none !important;
    }
  }

  & > span > .paginate_button.current {
    background: $color-edem-green !important;
    border: none !important;
    color: #FFF !important;
  }

  & > span > .paginate_button {
    &:hover {
      background: rgba(#000, .2) !important;
      background-color: rgba(#000, .2) !important;
      color: #333 !important;
      border-color: transparent !important;
      outline: transparent !important;
      box-shadow: none !important;
    }
  }
}
