
{% extends 'components/base.html' %}
{% block content %}

  <main class="main">
    500
  </main>

  <footer class="footer">
    <img class="logo" src="/static/img/edem-logo-full.png" alt="e-Democracia" >
      <div class="briefing">
        <p class="text">Esse é o e-Democracia <span class="owner">{{ site_name }}</span>. Este Portal foi criado para ampliar a participação social no processo legislativo e aproximar cidadãos e seus representantes por meio da interação digital.</p>
      </div>
      <p class="tos"><a class="link" href="/sobre/tos/">Termos de Serviço</a>Condições gerais aplicáveis à utilização do site e de suas ferramentas associadas</p>
  </footer>
</div>



{% endblock content %}
