 <!DOCTYPE html>
<html>
<header>
    <title>{% block title %}e-Democracia{% endblock %}</title>
</header>
<body>
    <form class="access JS-loginForm">
      <div class="form-field">
        <input class="input JS-formInput" id="id_username" name="username">
        <label class="label" for="id_username"><span class="labeltext">Endereço de email</span></label>
        <p class="error JS-inputError" data-input-name="username" hidden></p>
      </div>

      <div class="form-field">
        <input class="input JS-formInput" id="id_password" name="password" type="password">
        <label class="label" for="id_password"><span class="labeltext">Senha</span></label>
        <a class="action -input JS-fieldActionPassword" role="button">Mostrar Senha</a>
        <p class="error JS-inputError" data-input-name="password" hidden></p>
      </div>

      <button class="edem-button">Entrar</button>

      <div class="errorbox JS-accessErrorBox" hidden>
        <p class="error JS-accessError"></p>
        <button class="edem-close-button -white JS-closeAccessError" type="button"></button>
      </div>
    </form>

{% block content %}
{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript">
        $('.JS-loginForm').submit(function(event) {
          event.preventDefault();
          $.ajax({
            type:"POST",
            url: '/ajax/login/',
            data: $(event.target).serialize(),
            success: function(response){
              location.reload();
            },
            error: function(jqXRH){
              if (jqXRH.status == 0) {
                showError("Verifique sua conexão com a internet.")
              } else if (jqXRH.status == 401) {
                $('.JS-inputError').text('');
                $(event.target)
                  .find('.JS-inputError')
                  .text(jqXRH.responseJSON['data'])
                  .removeAttr('hidden');
              } else {
                showError("Ocorreu um erro no servidor, tente novamente em alguns instantes.");
              }
            }
          });
        });
    </script>
</body>
</html> 