
{% extends 'components/base.html' %}
{% block content %}

  <main class="main">
    <section class="section section--change-password">
      <div class="e-row align-center">
        <div class="section__block section__block--title e-columns small-12 medium-8 large-6">
          <div class="section__content">
            <h1 class="section__title">Recuperar senha</h1>
            <p class="section__text">
            Esqueceu sua senha? Digite seu email abaixo, e enviaremos instruções para redefinir sua senha.
            </p>
          </div>
        </div>
      </div>

      <div class="e-row align-center">
        <div class="e-columns small-12 medium-8 large-6">
          <form class="form" action="/account/password-reset" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="dxyfyYMI5AHqFDxvXS8P6YBJ4Fo8ROyxNmKNgbupZMuyxzIiKWeQnSkyCRGqIFI7">
            <label class="form__input-wrapper input-group ">

                <i class="form__icon icon icon-envelope input-group-label" aria-hidden="true"></i>
                <span class="show-for-sr">Email</span>
                <div class="form__input-container">

                  <input class="form__input input input-group-field " type="email" id="id_email" name="email" value="" placeholder="Email" required="">



                </div>
              </label>
              <button class="button expanded button--expanded">Redefinir senha</button>

          </form>
          </div>
        </div>
      </section>
  </main>

  <footer class="footer">
    <img class="logo" src="/static/img/edem-logo-full.png" alt="e-Democracia" >
      <div class="briefing">
        <p class="text">Esse é o e-Democracia <span class="owner">{{ site_name }}</span>. Este Portal foi criado para ampliar a participação social no processo legislativo e aproximar cidadãos e seus representantes por meio da interação digital.</p>
      </div>
      <p class="tos"><a class="link" href="/sobre/tos/">Termos de Serviço</a>Condições gerais aplicáveis à utilização do site e de suas ferramentas associadas</p>
  </footer>
</div>



{% endblock content %}
