
{% extends 'components/base.html' %}
{% block content %}

<main class="main">

  <section class="owner-section">
    <div class="firsthalf">
      <div class="logo">
        <img class="image" src="{{ site_logo }}" alt="e-Democracia da {{ site_name }}">
      </div>
    </div>
    <div class="secondhalf">
      <p class="briefing">Bem-vindo ao e-Democracia <span class="owner">{{ site_name }}</span>. Este Portal foi criado para ampliar a participação social no processo legislativo e aproximar cidadãos e seus representantes por meio da interação digital.</p>
    </div>
  </section>

  {% comment %}
  ### Adicionar ao app Audiencias ###

  <section class="section section--audiencias">
    <div class="e-row e-expanded">

      <div class="section__info section__block e-columns small-12 large-3">
        <a href="/audiencias/"><img class="section__logo" src="/static/img/logo-audiencias-publicas.svg" ></a>
        <p class="section__text">
          Acompanhe audiências ao vivo e participe enviando perguntas.
        </p>
      </div>

      <div class="section__block e-columns small-12 large-9">
        <div class="section__content">

          <h1 class="section__title">
            <a class="section__link" href="/audiencias/" title="Veja todas as audiências">Faça sua pergunta</a>
          </h1>

          <div class="container container--card-list">

            <a class="section__button" href="/audiencias/">
              Ver todos
            </a>

            <ul class="card-list">

      <a class="info-card__link" href="/audiencias/sala/635">
        <li class="info-card info-card--audiencias">
          <div class="info-card__header info-card__header--old-video">
            <div class="info-card__icon info-card__icon--old-video"><i class="icon icon-play"></i></div>
            <h2 class="info-card__title">Audiências que já aconteceram</h2>
          </div>
          <img class="info-card__image" src="https://i.ytimg.com/vi/0JjV_7eHRVU/mqdefault_live.jpg">
          <div class="info-card__description">
          <p class="info-card__text" title="A DEMISSÃO DE 1.200 PROFESSORES DA FACULDADE ESTÁCIO DE SÁ.">A DEMISSÃO DE 1.200 PROFESSORES DA FACULDADE ESTÁCIO DE SÁ.</p>

          <p class="info-card__type">Audiência Pública</p>

          </div>
          <div class="info-card__footer">
            <div class="card-stats">
              <div class="card-stats__name">Perguntas</div>
              <div class="card-stats__value">0</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Organizador</div>
              <div class="card-stats__value" title="Comissão de Trabalho, de Administração e Serviço Público">CTASP</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Data</div>
              <div class="card-stats__value">20/12/2017</div>
            </div>
          </div>
        </li>
      </a>

      <a class="info-card__link" href="/audiencias/sala/631">
        <li class="info-card info-card--audiencias">
          <div class="info-card__header info-card__header--old-video">
            <div class="info-card__icon info-card__icon--old-video"><i class="icon icon-play"></i></div>
            <h2 class="info-card__title">Audiências que já aconteceram</h2>
          </div>
          <img class="info-card__image" src="https://i.ytimg.com/vi/VU6IZXSf66w/mqdefault_live.jpg">
          <div class="info-card__description">
          <p class="info-card__text" title="">LEGISLAÇÃO PARTICIPATIVA</p>

          <p class="info-card__type">Audiência Pública</p>

          </div>
          <div class="info-card__footer">
            <div class="card-stats">
              <div class="card-stats__name">Perguntas</div>
              <div class="card-stats__value">1</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Organizador</div>
              <div class="card-stats__value" title="Comissão de Legislação Participativa">CLP</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Data</div>
              <div class="card-stats__value">14/12/2017</div>
            </div>
          </div>
        </li>
      </a>

      <a class="info-card__link" href="/audiencias/sala/630">
        <li class="info-card info-card--audiencias">
          <div class="info-card__header info-card__header--old-video">
            <div class="info-card__icon info-card__icon--old-video"><i class="icon icon-play"></i></div>
            <h2 class="info-card__title">Audiências que já aconteceram</h2>
          </div>
          <img class="info-card__image" src="https://i.ytimg.com/vi/LfGittEPPFs/mqdefault_live.jpg">
          <div class="info-card__description">
          <p class="info-card__text" title="">LEGISLAÇÃO PARTICIPATIVA</p>

          <p class="info-card__type">Audiência Pública</p>

          </div>
          <div class="info-card__footer">
            <div class="card-stats">
              <div class="card-stats__name">Perguntas</div>
              <div class="card-stats__value">1</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Organizador</div>
              <div class="card-stats__value" title="Comissão de Legislação Participativa">CLP</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Data</div>
              <div class="card-stats__value">14/12/2017</div>
            </div>
          </div>
        </li>
      </a>

      <a class="info-card__link" href="/audiencias/sala/634">
        <li class="info-card info-card--audiencias">
          <div class="info-card__header info-card__header--old-video">
            <div class="info-card__icon info-card__icon--old-video"><i class="icon icon-play"></i></div>
            <h2 class="info-card__title">Audiências que já aconteceram</h2>
          </div>
          <img class="info-card__image" src="https://i.ytimg.com/vi/46LXA8RG_bc/mqdefault_live.jpg">
          <div class="info-card__description">
          <p class="info-card__text" title="">Audiência Pública Conjunta das Comissões CLP e CSSF</p>

          <p class="info-card__type">Audiência Pública</p>

          </div>
          <div class="info-card__footer">
            <div class="card-stats">
              <div class="card-stats__name">Perguntas</div>
              <div class="card-stats__value">0</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Organizador</div>
              <div class="card-stats__value" title="Comissão de Legislação Participativa">CLP</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Data</div>
              <div class="card-stats__value">13/12/2017</div>
            </div>
          </div>
        </li>
      </a>

      <a class="info-card__link" href="/audiencias/sala/633">
        <li class="info-card info-card--audiencias">
          <div class="info-card__header info-card__header--old-video">
            <div class="info-card__icon info-card__icon--old-video"><i class="icon icon-play"></i></div>
            <h2 class="info-card__title">Audiências que já aconteceram</h2>
          </div>
          <img class="info-card__image" src="https://i.ytimg.com/vi/8ZaJe5K-AUM/mqdefault_live.jpg">
          <div class="info-card__description">
          <p class="info-card__text" title="">Audiência Pública Conjunta das Comissões CLP e CSSF</p>

          <p class="info-card__type">Audiência Pública</p>

          </div>
          <div class="info-card__footer">
            <div class="card-stats">
              <div class="card-stats__name">Perguntas</div>
              <div class="card-stats__value">0</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Organizador</div>
              <div class="card-stats__value" title="Comissão de Legislação Participativa">CLP</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Data</div>
              <div class="card-stats__value">13/12/2017</div>
            </div>
          </div>
        </li>
      </a>

      <a class="info-card__link" href="/audiencias/sala/627">
        <li class="info-card info-card--audiencias">
          <div class="info-card__header info-card__header--old-video">
            <div class="info-card__icon info-card__icon--old-video"><i class="icon icon-play"></i></div>
            <h2 class="info-card__title">Audiências que já aconteceram</h2>
          </div>
          <img class="info-card__image" src="https://i.ytimg.com/vi/Heep5kt0Crw/mqdefault_live.jpg">
          <div class="info-card__description">
          <p class="info-card__text" title="">DESENVOLVIMENTO URBANO</p>

          <p class="info-card__type">Audiência Pública</p>

          </div>
          <div class="info-card__footer">
            <div class="card-stats">
              <div class="card-stats__name">Perguntas</div>
              <div class="card-stats__value">0</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Organizador</div>
              <div class="card-stats__value" title="Comissão de Desenvolvimento Urbano">CDU</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Data</div>
              <div class="card-stats__value">13/12/2017</div>
            </div>
          </div>
        </li>
      </a>

      <a class="info-card__link" href="/audiencias/sala/620">
        <li class="info-card info-card--audiencias">
          <div class="info-card__header info-card__header--old-video">
            <div class="info-card__icon info-card__icon--old-video"><i class="icon icon-play"></i></div>
            <h2 class="info-card__title">Audiências que já aconteceram</h2>
          </div>
          <img class="info-card__image" src="https://i.ytimg.com/vi/3K4DKU8aoAU/mqdefault_live.jpg">
          <div class="info-card__description">
          <p class="info-card__text" title="">LEGISLAÇÃO PARTICIPATIVA</p>

          <p class="info-card__type">Audiência Pública</p>

          </div>
          <div class="info-card__footer">
            <div class="card-stats">
              <div class="card-stats__name">Perguntas</div>
              <div class="card-stats__value">3</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Organizador</div>
              <div class="card-stats__value" title="Comissão de Legislação Participativa">CLP</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Data</div>
              <div class="card-stats__value">13/12/2017</div>
            </div>
          </div>
        </li>
      </a>

      <a class="info-card__link" href="/audiencias/sala/626">
        <li class="info-card info-card--audiencias">
          <div class="info-card__header info-card__header--old-video">
            <div class="info-card__icon info-card__icon--old-video"><i class="icon icon-play"></i></div>
            <h2 class="info-card__title">Audiências que já aconteceram</h2>
          </div>
          <img class="info-card__image" src="https://i.ytimg.com/vi/j-xe-9cAAD4/mqdefault_live.jpg">
          <div class="info-card__description">
          <p class="info-card__text" title="">PL 2303/15 - BANCO CENTRAL REGULAR MOEDAS VIRTUAIS</p>

          <p class="info-card__type">Audiência Pública</p>

          </div>
          <div class="info-card__footer">
            <div class="card-stats">
              <div class="card-stats__name">Perguntas</div>
              <div class="card-stats__value">2</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Organizador</div>
              <div class="card-stats__value" title="Comissão Especial destinada a proferir parecer ao Projeto de Lei nº 2303, de 2015, do Sr. Aureo, que &quot;dispõe sobre a inclusão das moedas virtuais e programas de milhagem aéreas na definição de &#39;arranjos de pagamento&#39; sob a supervisão do Banco Central&quot; (altera a Lei nº 12.865, de 2013 e da Lei 9.613, de 1998)">PL230315</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Data</div>
              <div class="card-stats__value">12/12/2017</div>
            </div>
          </div>
        </li>
      </a>

      <a class="info-card__link" href="/audiencias/sala/625">
        <li class="info-card info-card--audiencias">
          <div class="info-card__header info-card__header--old-video">
            <div class="info-card__icon info-card__icon--old-video"><i class="icon icon-play"></i></div>
            <h2 class="info-card__title">Audiências que já aconteceram</h2>
          </div>
          <img class="info-card__image" src="https://i.ytimg.com/vi/IYWHLZlxVXU/mqdefault_live.jpg">
          <div class="info-card__description">
          <p class="info-card__text" title="">Audiência Pública Conjunta das Comissões CLP e CSSF</p>

          <p class="info-card__type">Audiência Pública</p>

          </div>
          <div class="info-card__footer">
            <div class="card-stats">
              <div class="card-stats__name">Perguntas</div>
              <div class="card-stats__value">0</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Organizador</div>
              <div class="card-stats__value" title="Comissão de Legislação Participativa">CLP</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Data</div>
              <div class="card-stats__value">12/12/2017</div>
            </div>
          </div>
        </li>
      </a>

      <a class="info-card__link" href="/audiencias/sala/619">
        <li class="info-card info-card--audiencias">
          <div class="info-card__header info-card__header--old-video">
            <div class="info-card__icon info-card__icon--old-video"><i class="icon icon-play"></i></div>
            <h2 class="info-card__title">Audiências que já aconteceram</h2>
          </div>
          <img class="info-card__image" src="https://i.ytimg.com/vi/IYWHLZlxVXU/mqdefault_live.jpg">
          <div class="info-card__description">
          <p class="info-card__text" title="">LEGISLAÇÃO PARTICIPATIVA</p>

          <p class="info-card__type">Audiência Pública</p>

          </div>
          <div class="info-card__footer">
            <div class="card-stats">
              <div class="card-stats__name">Perguntas</div>
              <div class="card-stats__value">1</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Organizador</div>
              <div class="card-stats__value" title="Comissão de Legislação Participativa">CLP</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Data</div>
              <div class="card-stats__value">12/12/2017</div>
            </div>
          </div>
        </li>
      </a>


            </ul>

          </div>
        </div>
      </div>

    </div>
  </section>
  {% endcomment %}
  
  {% include 'wikilegis-section.html' %}

  {% comment %}
  ## Adicionar ao app Discourse ###

  <section class="section section--discourse">
    <div class="e-row e-expanded">

      <div class="section__info section__block e-columns small-12 large-3">
        <a href="/expressao/"><img class="section__logo" src="/static/img/logo-expressao.svg" ></a>
        <p class="section__text">
          Dê sua opinião sobre os assuntos que afetam a sua vida, discutindo soluções com outros cidadãos e os deputados.
        </p>
      </div>

      <div class="section__block e-columns small-12 large-9">
        <div class="section__content">

          <h1 class="section__title">
            <a class="section__link" href="/expressao/" title="Veja todas as discussões">Participe em discussões</a>
          </h1>

          <div class="container container--card-list">

            <a class="section__button" href="/expressao/">
              Ver todos
            </a>

            <ul class="card-list">


      <a class="info-card__link" href="/expressao/t/procurador-da-republica-acoberta-crime-de-extorsao-e-faz-comissao-do-legislativo-municipal-de-otarios/44684">
        <li class="info-card info-card--discourse info-card--direito-e-justica">

          <div class="info-card__header">
            <div class="info-card__icon"><i class="icon icon-direito-e-justica"></i></div>
            <h2 class="info-card__title">Direito e Justiça</h2>
          </div>
          <p class="info-card__text">
            Procurador da repÚblica acoberta crime de extorsÃo e faz comissÃo do legislativo municipal de otÁrios
          </p>
          <div class="info-card__footer">
            <div class="card-stats">
              <div class="card-stats__name">Respostas</div>
              <div class="card-stats__value">60</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Visualizações</div>
              <div class="card-stats__value">2725</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Atualização</div>
              <div class="card-stats__value">jan/2018</div>
            </div>
          </div>
        </li>
      </a>

      <a class="info-card__link" href="/expressao/t/acabar-com-a-contribuicao-previdenciaria-e-substitui-la-pelo-imposto-de-renda/59029">
        <li class="info-card info-card--discourse info-card--previdencia">

          <div class="info-card__header">
            <div class="info-card__icon"><i class="icon icon-previdencia"></i></div>
            <h2 class="info-card__title">Previdência</h2>
          </div>
          <p class="info-card__text">
            Acabar com a contribuição previdenciária e substituí-la pelo Imposto de Renda?
          </p>
          <div class="info-card__footer">
            <div class="card-stats">
              <div class="card-stats__name">Respostas</div>
              <div class="card-stats__value">13</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Visualizações</div>
              <div class="card-stats__value">276</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Atualização</div>
              <div class="card-stats__value">jan/2018</div>
            </div>
          </div>
        </li>
      </a>

      <a class="info-card__link" href="/expressao/t/um-novo-modelo-de-aula-e-escola/56302">
        <li class="info-card info-card--discourse info-card--educacao">

          <div class="info-card__header">
            <div class="info-card__icon"><i class="icon icon-educacao"></i></div>
            <h2 class="info-card__title">Educação</h2>
          </div>
          <p class="info-card__text">
            Um novo modelo de aula e escola
          </p>
          <div class="info-card__footer">
            <div class="card-stats">
              <div class="card-stats__name">Respostas</div>
              <div class="card-stats__value">13</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Visualizações</div>
              <div class="card-stats__value">588</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Atualização</div>
              <div class="card-stats__value">jan/2018</div>
            </div>
          </div>
        </li>
      </a>

      <a class="info-card__link" href="/expressao/t/revogacao-do-estatuto-do-desarmamento-e-aprovacao-do-pl3722-12/41605">
        <li class="info-card info-card--discourse info-card--seguranca">

          <div class="info-card__header">
            <div class="info-card__icon"><i class="icon icon-seguranca"></i></div>
            <h2 class="info-card__title">Segurança</h2>
          </div>
          <p class="info-card__text">
            Revogação do estatuto do desarmamento e aprovação do PL3722/12
          </p>
          <div class="info-card__footer">
            <div class="card-stats">
              <div class="card-stats__name">Respostas</div>
              <div class="card-stats__value">308</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Visualizações</div>
              <div class="card-stats__value">6455</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Atualização</div>
              <div class="card-stats__value">jan/2018</div>
            </div>
          </div>
        </li>
      </a>

      <a class="info-card__link" href="/expressao/t/pl-2245-2007-regulamentacao-da-profissao-de-tecnologo/47003">
        <li class="info-card info-card--discourse info-card--politica">

          <div class="info-card__header">
            <div class="info-card__icon"><i class="icon icon-politica"></i></div>
            <h2 class="info-card__title">Política</h2>
          </div>
          <p class="info-card__text">
            PL-2245/2007 - Regulamentação da Profissão de Tecnólogo
          </p>
          <div class="info-card__footer">
            <div class="card-stats">
              <div class="card-stats__name">Respostas</div>
              <div class="card-stats__value">61</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Visualizações</div>
              <div class="card-stats__value">4162</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Atualização</div>
              <div class="card-stats__value">jan/2018</div>
            </div>
          </div>
        </li>
      </a>

      <a class="info-card__link" href="/expressao/t/governo-pode-incentivar-o-emagrecimento-da-populacao/41143">
        <li class="info-card info-card--discourse info-card--saude">

          <div class="info-card__header">
            <div class="info-card__icon"><i class="icon icon-saude"></i></div>
            <h2 class="info-card__title">Saúde</h2>
          </div>
          <p class="info-card__text">
            Governo Pode Incentivar o Emagrecimento Da População ?
          </p>
          <div class="info-card__footer">
            <div class="card-stats">
              <div class="card-stats__name">Respostas</div>
              <div class="card-stats__value">44</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Visualizações</div>
              <div class="card-stats__value">2105</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Atualização</div>
              <div class="card-stats__value">jan/2018</div>
            </div>
          </div>
        </li>
      </a>

      <a class="info-card__link" href="/expressao/t/governo-deveria-financiar-procedimentos-esteticos/43955">
        <li class="info-card info-card--discourse info-card--saude">

          <div class="info-card__header">
            <div class="info-card__icon"><i class="icon icon-saude"></i></div>
            <h2 class="info-card__title">Saúde</h2>
          </div>
          <p class="info-card__text">
            Governo Deveria Financiar Procedimentos Estéticos ?
          </p>
          <div class="info-card__footer">
            <div class="card-stats">
              <div class="card-stats__name">Respostas</div>
              <div class="card-stats__value">9</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Visualizações</div>
              <div class="card-stats__value">1013</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Atualização</div>
              <div class="card-stats__value">jan/2018</div>
            </div>
          </div>
        </li>
      </a>

      <a class="info-card__link" href="/expressao/t/empregabilidade-doenca-de-crohn-e-preconceito/55070">
        <li class="info-card info-card--discourse info-card--saude">

          <div class="info-card__header">
            <div class="info-card__icon"><i class="icon icon-saude"></i></div>
            <h2 class="info-card__title">Saúde</h2>
          </div>
          <p class="info-card__text">
            Empregabilidade, Doença de Crohn e Preconceito
          </p>
          <div class="info-card__footer">
            <div class="card-stats">
              <div class="card-stats__name">Respostas</div>
              <div class="card-stats__value">2</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Visualizações</div>
              <div class="card-stats__value">505</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Atualização</div>
              <div class="card-stats__value">jan/2018</div>
            </div>
          </div>
        </li>
      </a>

      <a class="info-card__link" href="/expressao/t/curriculo-dos-candidatos/38486">
        <li class="info-card info-card--discourse info-card--reforma-politica">

          <div class="info-card__header">
            <div class="info-card__icon"><i class="icon icon-reforma-politica"></i></div>
            <h2 class="info-card__title">Reforma Política</h2>
          </div>
          <p class="info-card__text">
            Currículo dos Candidatos
          </p>
          <div class="info-card__footer">
            <div class="card-stats">
              <div class="card-stats__name">Respostas</div>
              <div class="card-stats__value">69</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Visualizações</div>
              <div class="card-stats__value">2759</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Atualização</div>
              <div class="card-stats__value">jan/2018</div>
            </div>
          </div>
        </li>
      </a>

      <a class="info-card__link" href="/expressao/t/legalizacao-da-maconha/40974">
        <li class="info-card info-card--discourse info-card--saude">

          <div class="info-card__header">
            <div class="info-card__icon"><i class="icon icon-saude"></i></div>
            <h2 class="info-card__title">Saúde</h2>
          </div>
          <p class="info-card__text">
            Legalização da Maconha
          </p>
          <div class="info-card__footer">
            <div class="card-stats">
              <div class="card-stats__name">Respostas</div>
              <div class="card-stats__value">114</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Visualizações</div>
              <div class="card-stats__value">10791</div>
            </div>

            <div class="card-stats">
              <div class="card-stats__name">Atualização</div>
              <div class="card-stats__value">jan/2018</div>
            </div>
          </div>
        </li>
      </a>


            </ul>

          </div>
        </div>
      </div>

    </div>
  </section>
  {% endcomment %}

 {% include 'pautas-section.html' %}

</main>

{% endblock content %}
