{% extends 'components/base.html' %}

{% load static %}
{% block content %}

<main class="main">

  <section class="owner-section">
    <div class="firsthalf">
      <div class="logo">
        {% get_media_prefix as MEDIA_URL %}
        <img class="image" src="{{ MEDIA_URL }}{{ config.SITE_LOGO }}" alt="e-Democracia da {{ config.SITE_NAME }}">
      </div>
    </div>
    <div class="secondhalf">
      <p class="briefing">Bem-vindo ao e-Democracia <span class="owner">{{ config.SITE_NAME }}</span>. {{ config.DESCRIPTION }}</p>
    </div>
  </section>

  {% if AUDIENCIAS_ENABLED %}
    {% include 'audiencias-section.html' %}
  {% endif %}

  {% if WIKILEGIS_ENABLED %}
    {% include 'wikilegis-section.html' %}
  {% endif %}

  {% if NEW_WIKILEGIS_ENABLED %}
    {% include 'new-wikilegis-section.html' %}
  {% endif %}

  {% if DISCOURSE_ENABLED %}
    {% include 'discourse-section.html' %}
  {% endif %}

  {% if PAUTAS_ENABLED %}
    {% include 'pautas-section.html' %}
  {% endif %}


</main>

{% endblock content %}
