{% extends 'components/base.html' %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
    <main class="main">
        <section class="section section--change-password">
            <div class="e-row align-center">
                <div class="section__block section__block--title e-columns small-12 medium-8 large-6">
                    <div class="section__content">
                        <h1 class="section__title">{% trans "Password reset" %}</h1>
                        <p class="section__text">
                        {% blocktrans %}We have sent you an email with a link to reset your password. Please check your email and click the link to continue.{% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}