{% extends 'components/base.html' %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
	<main class="main">
		<section class="section section--change-password">
			<div class="e-row align-center">
				<div class="section__block section__block--title e-columns small-12 medium-8 large-6">
					<div class="section__content">
						<h1 class="section__title">{% trans "Change password" %}</h1>
						<p class="section__text">
						{% trans "Insira sua senha atual e digite uma nova senha desejada nos campos abaixo" %}
						</p>
					</div>
				</div>
			</div>

			<div class="e-row align-center">
				<div class="e-columns small-12 medium-8 large-6">
          <form class="form" action="" method="post">
            {{ form.non_field_errors }}
						{% csrf_token %}
              {% for field in form %}
                <label class="form__input-wrapper input-group ">
                  <i class="form__icon icon icon-lock input-group-label" aria-hidden="true"></i>
                  <span class="show-for-sr">{{ field.label }}</span>
                  <div class="form__input-container">
                    <input class="form__input input input-group-field " type="password" id="{{ field.id_for_label }}" name="{{ field.html_name }}" value="" placeholder="{{ field.label }}" required>
                    {% if field.errors %}
                      <div class="form__error form-error is-visible">
                        <span class="form__error-message">{{ field.errors.as_text }}</span>
                        <i class="form__error-icon icon icon-e-arrow-circle-left"></i>
                      </div>
                    {% endif %}
                  </div>
                </label>
								{{field.help_text|safe}}
              {% endfor %}
							<button class="button expanded button--expanded">{% trans 'Change password' %}</button>
					</form>
					</div>
				</div>
			</section>
	</main>
{% endblock %}
