.page-error {
  width: 100vw;
  height: 100vh;

  &.-notfound {
    background-color: #d1d4cf;

    & > .bg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 100%;
      height: 80vh;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('../img/folder.png');
    }

    & > .info {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #313131;
      text-align: center;
    }

    & > .info > h1 {
      font-size: 8rem;
      font-weight: bold;
    }
  }
}
