{% load edem_extras %}

<a class="info-card__link" href="/participacao/audiencias">
  <li class="info-card info-card--painel-participacao">
    <div class="info-card__header">
      <h2 class="info-card__title"> Audiências Interativas</h2>
    </div>
    <p class="info-card__text">
        A ferramenta permite a participação em audiências públicas - e outros tipos de eventos - por meio do envio de perguntas e mensagens.
    </p>

    <div class="info-card__footer">
      <div class="card-stats">
        <div class="card-stats__name">Interação</div>
        <div class="card-stats__value ">10</div>
      </div>
      <div class="card-stats">
        <div class="card-stats__name">Período</div>
        <div class="card-stats__value">11/01/2021</div>
      </div>
    </div>
  </li>
</a>
