{% extends "components/diazo-base.html" %}
{% load staticfiles %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'new-wikilegis/scss/overrides-new-wikilegis.scss' %}" type="text/x-scss" />
{% endblock styles %}

{% block scripts %}
  {{ block.super }}

  {% if CAMARA_LOGIN %}

    <script type="text/javascript">
      $(document).on('click', 'a.js-loginButton', function(e){
        e.preventDefault();
        window.open('/accounts/login/camara_deputados/?next={{ request.path }}', '_self');
      });
    </script>

  {% else %}

    <script src="{% static 'new-wikilegis/js/overrides-new-wikilegis.js' %}"></script>

  {% endif %}

  <script type="text/javascript">
    $('.js-closeTestBanner').click(function(){
      $('.js-testBanner').removeClass('-active');

      document.cookie = "testBannerClosed=true"
    });

    if (document.cookie.indexOf('testBannerClosed') == -1) {
      $('.js-testBanner').addClass('-active');
    }
  </script>

{% endblock scripts %}

{% block jquery_call %}
{% endblock jquery_call %}

{% block extra_content %}

  <div class="test-banner js-testBanner">
    <img src="{% static 'img/lab.svg' %}" alt="Tubos de ensaio">
    <div class="content">
      <h2>Esta é uma versão de teste do novo Wikilegis.<span> 🧪</span></h2>
      <p>Você poderá opinar no projeto que contém os dez primeiros incisos do artigo 5.º da Constituição. Participe para nos ajudar a melhorar o Wikilegis! 😉</p>
    </div>
    <button aria-label="Fechar" class="js-closeTestBanner"></button>
  </div>

{% endblock extra_content %}
