  <section class="section section--new-wikilegis">
    <div class="e-row e-expanded">

      <div class="section__info section__block e-columns small-12 large-3">
        <a href="/wikilegis/"><img class="section__logo" src="/static/img/logo-new-wikilegis.svg" ></a>
        <p class="section__text">
          {{ config.NEW_WIKILEGIS_DESCRIPTION }}
          <p class="section__sub-text"><span>ou</span> <a href="/wikilegis-arquivo/">acesse o arquivo da versão
              anterior</a></p>
        </p>
      </div>

      <div class="section__block e-columns small-12 large-9">
        <div class="section__content">

          <h1 class="section__title">
            <a class="section__link" href="/wikilegis/" title="Veja todas as projetos">{{ config.NEW_WIKILEGIS_TITLE }}</a>
          </h1>

          <div class="container container--card-list">

            <a class="section__button" href="/wikilegis/">
              Ver todos
            </a>

            <ul class="card-list">
              
              {% if groups == 500 %}
                <li>
                  <div class="section__content-wrapper section__content-wrapper--center text-center">
                    <p class="section__text">
                      Desculpe. Serviço temporariamente indisponível.
                    </p>
                  </div>
                </li>
              {% else %}
                {% for group in groups %}
                  {% include "new-wikilegis-card.html" %}
                {% empty %}
                  <li>
                    <div class="section__content-wrapper section__content-wrapper--center text-center">
                      <p class="section__text">
                        Desculpe. Não encontramos nenhum resultado.
                      </p>
                    </div>
                  </li>
                {% endfor %}
              {% endif %}
            </ul>
            
          </div>
        </div>
      </div>

    </div>
  </section>
