{% load staticfiles compress %}
<!DOCTYPE html>
<html>
<header>
    <title>{% block title %}e-Democracia{% endblock %}</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'edem-navigation/scss/edem.scss' %}" type="text/x-scss"/>
    <link rel="stylesheet" href="{% static 'scss/app.scss' %}" type="text/x-scss"/>
    {% endcompress %}
</header>
<body>
    {# edem-navigation template #}
    
    <div class="edem-content-wrapper">
    {% block edem_core %}
        {% include "components/edem-navigation.html" %}
    {% endblock edem_core %}
    </div>

    {% block content %}
    {% endblock content %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'edem-navigation/js/edem-navigation.js' %}"></script>
</body>
</html>
