{% extends "edem-navigation/edem-navigation.html" %}
{% load staticfiles %}

{# Whitespace is added when defining these blocks, so DO NOT ident them! #}
{% block edem_camara_login %}/accounts/login/camara_deputados/?next={{ request.path }}{% endblock %}
{% block edem_facebook_url %}/accounts/login/facebook/?next={{ request.path }}{% endblock %}
{% block edem_google_url %}/accounts/login/google-oauth2/?next={{ request.path }}{% endblock %}
{% block edem_profile_url %}/accounts/profile{% endblock %}
{% block edem_logout_url %}/accounts/logout{% endblock %}
{% block edem_password_reset_url %}/accounts/password/reset/{% endblock %}
{% block edem_root_url %}/{% endblock %}
{% block edem_tos_url %}/sobre/tos/{% endblock %}
{% block edem_avatar %}{% if user.profile.avatar %}style="background-image: url('{{ user.profile.avatar.url }}')"{% else %}style="background-image: url('{% static 'edem-navigation/img/user-icon.svg' %}')"{% endif %}{% endblock %}
{% block edem_username %}{{ user.first_name }}{% endblock %}
{% block edem_owner_name %}{{ config.SITE_NAME }}{% endblock %}
{% block edem_recaptcha %}{{ RECAPTCHA_SITE_KEY }}{% endblock %}