{% extends 'components/base.html' %}

{% load static %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'lightpick/css/lightpick.css' %}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.5/css/fixedHeader.dataTables.min.css">
{% endblock %}

{% block content %}

<main class="page-statistics">

  <nav class="menu">
    <div class="wrapper">
      <label class="label">Data</label>
      <div class="date">
        <p>Escolha a data inicial e a data final:</p>
        <input type="text" id="startDate" placeholder="Data inicial" value="{{request.GET.startDate}}" readonly>
        <input type="text" id="endDate" placeholder="Data final" value="{{request.GET.endDate}}" readonly>
        <button class="JS-updateDate">Enviar</button>
      </div>
      <label class="label JS-toggleStatisticsLinks">Menu</label>
      <ul class="links JS-statisticsLinks">
        <a href="{% url 'statistics' %}" class="{% if request.path == '/statistics/' %}-active{% endif %}">Informações Gerais</a>
        <a href="{% url 'statistics_wikilegis' %}" class="{% if request.path == '/statistics/wikilegis/' %}-active{% endif %}">Wikilegis</a>
        <a href="#">Audiências Interativas</a>
        <a href="#">Expressão</a>
      </ul>
    </div>
  </nav>

  <div class="content">
    {% block statistics_content %}
    {% endblock statistics_content %}
  </div>


</main>

{% endblock content %}

{% block extrajs %}
<script type="text/javascript" src="{% static 'chart.js/dist/Chart.min.js' %}"></script>
<script type="text/javascript" src="{% static 'moment/min/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lightpick/lightpick.js' %}"></script>
<script type="text/javascript" src="{% static 'jszip/dist/jszip.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lightpick.js' %}"></script>
{% endblock %}
