<a class="info-card__link" href="/emonitor/wikilegis">
  <li class="info-card info-card--painel-wikilegis">
    <div class="info-card__header">
      <h2 class="info-card__title">Wikilegis</h2>
    </div>
    <p class="info-card__text">
      Painel sobre propostas legislativas da Câmara dos Deputados. Veja gráficos, rankings e totais acerca de participantes, opiniões e votos nas opiniões.
    </p>

    <div class="info-card__footer">
      <div class="card-stats">
        <div class="card-stats__name">Participantes</div>
        <div class="card-stats__value ">{{ total_wikilegis_participants }}</div>
      </div>
      <div class="card-stats">
        <div class="card-stats__name">Propostas</div>
        <div class="card-stats__value">{{ total_wikilegis_documents }}</div>
      </div>
    </div>
  </li>
</a>
