{% load edem_extras %}

<a class="info-card__link" href="/participacao/audiencias">
  <li class="info-card info-card--painel-audiencias">
    <div class="info-card__header">
      <h2 class="info-card__title"> Audiências Interativas</h2>
    </div>
    <p class="info-card__text">
      Painel sobre audiências públicas e eventos interativos da Câmara dos Deputados. Veja gráficos, rankings e totais acerca de participantes, audiências, mensagens e perguntas.
    </p>

    <div class="info-card__footer">
      <div class="card-stats">
        <div class="card-stats__name">Participantes</div>
        <div class="card-stats__value ">300</div>
      </div>
      <div class="card-stats">
        <div class="card-stats__name">Audiências</div>
        <div class="card-stats__value">300</div>
      </div>
    </div>
  </li>
</a>
