{% load edem_extras %}

<a class="info-card__link" href="/participacao/wikilegis">
  <li class="info-card info-card--painel-wikilegis">
    <div class="info-card__header">
      <h2 class="info-card__title">Wikilegis</h2>
    </div>
    <p class="info-card__text">
        Disponibiliza propostas legislativas para análise dos cidadãos que opinam  em trechos do texto e avaliam as opiniões uns dos outros.
    </p>

    <div class="info-card__footer">
      <div class="card-stats">
        <div class="card-stats__name">Interação</div>
        <div class="card-stats__value ">10</div>
      </div>
      <div class="card-stats">
        <div class="card-stats__name">Período</div>
        <div class="card-stats__value">11/01/2021</div>
      </div>
    </div>
  </li>
</a>
