{% load edem_extras %}

<a class="info-card__link" href="/participacao/audiencias">
  <li class="info-card info-card--painel-edemocracia-aberto">
    <div class="info-card__header">
      <h2 class="info-card__title">eDemocracia aberto</h2>
    </div>
    <p class="info-card__text">
      Disponibiliza as ferramentas do e-Democracia com guias para instalação. Cada organização pode escolher quais ferramentas baixar e adotar.
    </p>

    <div class="info-card__footer">
      <div class="card-stats">
        <div class="card-stats__name">Interação</div>
        <div class="card-stats__value ">10</div>
      </div>
      <div class="card-stats">
        <div class="card-stats__name">Período</div>
        <div class="card-stats__value">11/01/2021</div>
      </div>
    </div>
  </li>
</a>
